link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css', rel='stylesheet' type='text/css')
style(type="text/css").
  body {
    font-family: sans-serif;
  }

  .flex {
    display: flex;
  }

  .p-4 {
    padding: 1rem;
  }

  .mt-4 {
    margin-top: 1rem;
  }

  code {
    display: flex;
    border: dotted 1px #aaa;
    background-color: #ddd;
    padding: 1rem;
  }

  button {
    border: 0;
    background-color: green;
    padding: 1rem 2rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: #eee;
  }
