extends html/layout.pug

block content
  h2 Init
  code.
    import Loggout from 'loggout';
    <br />
    const loggout = new Loggout({
      level: Loggout.LEVELS.debug,
    });
  h3 Silly
  code.
    logger.silly('Hello World');
  button.mt-4.js-test__silly test
  h3 Debug
  code.
    logger.debug('Hello World');
  button.mt-4.js-test__debug test
  h3 Info
  code.
    logger.info('Hello World');
  button.mt-4.js-test__info test
  h3 Verbose
  code.
    logger.verbose('Hello World');
  button.mt-4.js-test__verbose test
  h3 Warn
  code.
    logger.warn('Hello World');
  button.mt-4.js-test__warn test
  h3 Error
  code.
    logger.error('Hello World');
  button.mt-4.js-test__error test
  h3 Timer
  code.
    const timelyMeth = () => {
      <br />
      &nbsp;let incr = 0;
      <br />
      &nbsp;for (const i = 1; i <= 1e6; i++) {
      <br />
      &nbsp;&nbsp;incr += i;
      <br />
      &nbsp;}
      <br />
    }
    <br />
    logger.time(timelyMeth);
  button.mt-4.js-test__timer test

  h2 Custom prefix
  code.
    import Loggout from 'loggout';
    <br />
    const loggout = new Loggout({
    <br />
      &nbsp;level: Loggout.LEVELS.debug,
    <br />
      &nbsp;prefix: level => `LOGG(${level}):`,
    <br />
    });
    <br />
    loggout.error('test');
  button.mt-4.js-test__prefix test
